@tailwind preflight;

@tailwind components;

@tailwind utilities;

a {
	color: inherit;
	text-decoration: none;
}

/* Navigation */

nav {
	@apply flex items-center justify-center flex-wrap bg-teal;
}

@screen md {
	nav {
		@apply pl-6 justify-between;
	}
	nav > a {
		@apply pr-6;
	}
}

nav > div > a {
	@apply inline-block text-teal-lighter p-6;
}

nav > div > a:hover {
	@apply text-white;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

nav > div > .link-active {
	@apply text-white bg-teal-dark;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/**/

main {
	@apply block p-6;
}

form {
	@apply shadow-md rounded-lg;
}

form label {
	@apply block truncate whitespace-no-wrap text-blue-darkest text-sm font-bold;
}

.form-row {
	@apply flex items-center pb-6;
}

.form-row > div:nth-of-type(1) {
	@apply w-1/3 text-right pr-4;
}

.form-row > div:nth-of-type(2) {
	@apply w-2/3;
}

.form-fields {
	@apply bg-yellow-lightest px-8 pt-6 pb-3 rounded-t-lg;
}

.form-actions-outer {
	@apply bg-yellow-lighter px-8 rounded-b-lg;
}

.form-actions-inner {
	@apply .border-yellow py-8;
	border-top-width: 0.25rem;
}

form input[type="number"] {
	@apply w-full appearance-none border rounded py-2 px-3 text-grey-darker leading-tight;
}

form input[type="text"] {
	@apply w-full appearance-none border rounded py-2 px-3 text-grey-darker leading-tight;
}

form input[type="checkbox"] {
	@apply border rounded py-2 px-3 text-grey-darker leading-tight;
}

form select {
	@apply block appearance-none w-full bg-white border border-grey-lighter text-grey-darker py-2 px-3 rounded leading-tight;
}

.select-dropdown-chevron {
	@apply pointer-events-none absolute pin-y pin-r flex items-center text-grey-darker;
}

.btn-primary {
	@apply bg-teal text-white font-bold py-2 px-4 rounded;
	background-image: linear-gradient(
		to bottom,
		#4dc0b5 0%,
		#38a89d 80%,
		#38a89d 100%
	);
}

.btn-primary:hover {
	@apply shadow-md;
	background-image: linear-gradient(to bottom, #38a89d 0%, #38a89d 100%);
	transform: translateY(-1px);
}

.btn-primary[disabled] {
	@apply opacity-50 cursor-not-allowed;
}

body {
	@apply bg-yellow-lightest;
}
