main {
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 50px;
	display: block;
}

.test {
	color: whitesmoke;
}

.status {
	width: 10px;
	height: 10px;
	background: #c0392b;
	display: block;
	float: left;
	border-radius: 50%;
	&.checked-in {
		background: #2ecc71;
	}
}
