<main>
    <input type="text" [value]="name" (input)="handleChange($event.target.value)">
    <div>Hello {{ name }}</div>
    <div>
        <h3>Airline Passengers</h3>
        <ul>
            <li *ngFor="let passenger of passengers; let i = index">
                <span class="status" [class.checked-in]="passenger.checkedIn"></span>
                <span class="status" [ngClass]="{ 'checked-in' : passenger.checkedIn, 'checked-out' : !passenger.checkedIn }"></span>                {{ i }}: {{ passenger.fullName }}
            </li>
        </ul>
    </div>
</main>